*:not(option){
    color: white;
}


body{
    background-color: #576879;
}

#container{
   margin: 50px 100px;
}

h1{
    color : rgb(83, 16, 16);
}

.unstyled-button {
    border: none;
    padding: 0;
    background: none;
}

input[type='number']{
    width: 80px;
    color:black;
} 

#sum_session {

    display: flex;
    align-items: baseline;
    justify-content:space-between;

    background-color: #282828;
    padding: 10px;
    border-radius: 5px;
}

#control_panel {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 50px;
}

#control_panel > * {
    width: 100%;
  }

.fa-user-minus, .fa-file-circle-minus {
    color: brown;
}

.fa-user-plus, .fa-file-circle-plus {
    color: darkgreen;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

