{% extends 'base.html.twig' %}

{% block title %}Liste des stagiaires{% endblock %}

{% block body %}
    <h1>Liste des stagiaires</h1>


    {% for stagiaire in stagiaires %}
        {{stagiaire}}
        <br>
    {% endfor %}
{% endblock %}
